/* Imports */

@import url("../lib/ionic/scss/doggicons/style.css");

/* Genereal */

.error {
	padding-right: 16px;
	color: red;
}
.scroll {
	height: 100%;
}
.state-name {
	position: fixed;
	bottom: 61px;
	right: 10px;
	z-index: 100;
	padding: 3px 7px;
	border-radius: 3px;
	background: rgba(0,0,0,0.4);
	color: #fff;
	cursor: default;
}

.state-name:hover {
	background: #387ef5;
}

a.icon {
	text-decoration: none;
	color: #000;
}

.mini-title{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

.item-input-wrapper{
    border-radius: 0px;
}


/* Header bar */
.bar.bar-light .title{
    font-weight: 400;
    color:#333;
}

/* Tabbar Top */

.tabs-top.tabs-striped .tab-item{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333;
}

.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated{
    border-radius: 25px;
    color: #fff;
    background-color: #333;
    border:none;

}

/* Tabbar Bottom */

.tab-nav, .tabs{
    background-color: #fff;
    color: #333;
    border-color:#fff;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{
    color:#fff;
    background-color: #1352e2;
}

.tab-item .icon {
    font-size: 17px;
    height: 22px;
    margin: 8px auto 0;
}

/* Profiles */

.profile-header{
    height:300px;
    background: rgba(0,0,0,0.8);
    overflow: hidden;
    top:200px;
}

.profile-info{
    position: absolute;
    z-index: 1;
    width:100%;
    height:100%;
    text-align: center;
    background-color:rgba(0,0,0,0.2);
}
.profile-info h2{
    margin-top:0px;
}
.profile-info h2,
.profile-info p,
.profile-info span{
    color: #fff;
    font-weight: 200;
}

.profile-image{
    display: inline-block;
    border-radius: 100px;
    border: 2px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8);

}

.quick-info{
    background-color:rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1;
    width: 100%;
    top:260px;
}

.quick-info i{
    color:#38e896;
}

.quick-info .col{
    border-right: 1px solid rgba(255,255,255,0.2);
}

.quick-info .col:last-child{
    border-right: none;
}

.profile-bg{
    width:100%;
    height:100%;
    padding: 0px;
    position: absolute;
    z-index: -1;
}

.blur{
    -webkit-filter: blur(20px); 
    filter: blur(20px);
}
.full{
    width:110%;
    height:110%;
}

.item-avatar > img:first-child,
.item-avatar .item-content > img:first-child,
.item-thumbnail-left > img:first-child,
.item-thumbnail-left .item-content > img:first-child {
	background-color: #ddd;
	background-image: url(../img/default-avatar.png);
	background-position: center;
	background-size: cover;
}

.dog-view .item-avatar > img:first-child,
.dog-view .item-avatar .item-content > img:first-child,
.dog-view .item-thumbnail-left > img:first-child,
.dog-view .item-thumbnail-left .item-content > img:first-child {
	background-image: url(../img/default-avatar-dog.png);
}

/* Map */

#map {
    width: 100%;
    height: 100%;
}

