<ion-view view-title="Hunde Profil bearbeiten" class="dog-view">

  <ion-nav-buttons side="right">
    <ion-button ui-sref="^.profil" class="button button-icon icon ion-ios-checkmark-outline" ng-show="state.includes('tab.profil-dog-edit')" ng-click="save(dog)"></ion-button>
    <ion-button ui-sref="^.profil" class="button button-icon icon ion-ios-checkmark" ng-show="state.includes('tab.profil-dog-add')" ng-click="save()"></ion-button>
  </ion-nav-buttons>

  <ion-content>
    <form novalidate>

      <ion-list class="list">

        <label class="item item-input" ng-click="changePhoto()">
          <span class="input-label">Bild</span>
          <img ng-src="data:image/jpeg;base64,{{editScope.image}}">
        </label>

        <!-- Name //-->
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" name="name" ng-model="editScope.name" placeholder="Name" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Rasse</span>
          <input type="text" name="nachname" ng-model="editScope.rasse" placeholder="Rasse" required>
        </label>

        <div class="item item-divider">
          Hunde Daten
        </div>
        <!-- Geschlecht //-->
        <label class="item item-input item-select">
          <div class="input-label">
            Geschlecht
          </div>
          <select name="geschlecht" ng-model="editScope.geschlecht">
            <option selected>männlich</option>
            <option>weiblich</option>
          </select>
        </label>

        <!-- Alter //-->
        <div class="item item-button-right">
          <span>Geburtsdatum</span>
          <span class="item-note">{{editScope.geburtsdatum | date : 'dd.MM.yyyy'}}</span>
          <button class="button button-icon" ng-click="datePicker()"><i class="icon ion-ios-calendar-outline"></i></button>
        </div>

        <!-- Größe //-->
        <label class="item item-input">
          <span class="input-label">Größe</span>
          <input type="text" name="ort" ng-model="editScope.groesse" placeholder="Größe in cm">
        </label>

        <!-- Gemüt //-->
        <div class="item item-divider">
          Gemüt
        </div>
        <ion-checkbox ng-model="editScope.kastriert">ist kastriert</ion-checkbox>
        <ion-checkbox ng-model="editScope.laeufig">ist läufig</ion-checkbox>

        <!-- Geschlecht //-->
        <label class="item item-input item-select">
          <div class="input-label">
            Verträgt sich gut mit
          </div>
          <select name="geschlecht" ng-model="editScope.vertraeglich">
            <option selected>Rüden</option>
            <option>Hündin</option>
          </select>
        </label>

        <!-- Beschreibung //-->
        <div class="item item-divider">
          Beschreibung
        </div>
        <div class="item item-input">
          <textarea name="description" ng-model="editScope.beschreibung" rows="{{editScope.beschreibung.length/60 + 2}}" cols="60" placeholder="Über deinen Hund">
          </textarea>
        </div>

      </ion-list>
        
    </form>

    <!-- Hund löschen //-->
    <ion-button class="button button-full button-assertive" ng-click="remove(dog);">
      Hund löschen
    </ion-button>

  </ion-content>

</ion-view>
