<ion-view view-title="Hunde Profil" class="dog-view">

  <ion-nav-buttons side="right">
    <ion-button ng-show="state.includes('tab.profil-dog')" ui-sref="tab.profil-dog-edit" class="button button-icon icon ion-ios-compose-outline" ng-click="edit(dog);"></ion-button>
  </ion-nav-buttons>

  <ion-content>
      
    <div class="profile-header">

      <div class="profile-info">
        <img class="profile-image" ng-src="data:image/jpeg;base64,{{dog.image}}">
        <h2>{{dog.name}}</h2> 
        <p>{{dog.beschreibung}}</p>

        <div class="row quick-info">
            <div class="col"><i class="icon-activity"></i><span>&nbsp;{{dog.rasse}}</span></div>  
            <div class="col"><i class="icon-heart"></i><span>&nbsp;{{dog.geschlecht}}</span></div> 
            <div class="col"><i class="icon-user"></i><span>&nbsp;{{user.vorname}}s Hund</span></div> 
        </div>
          
      </div>

      <div class="profile-bg">
        <img class="blur full" ng-src="data:image/jpeg;base64,{{user.image}}">
      </div>
        
    </div>  

    <ion-list class="list">

      <div class="item item-divider">
        Hunde Daten
      </div>
      <div class="row item padding">
        <div class="col">
            <p>
                {{dog.geschlecht}}<br>
            </p>
        </div>
        <div class="col">
            <p>
             {{dog.groesse}} cm<br>
             {{user.ort}}
            </p>
        </div>
      </div>

      <div class="item item-divider">
        Gemüt
      </div>
      <div class="row item padding">
        <div class="col">
            <p>
                ist <span ng-show="!dog.kastriert">nicht </span>kastriert<br>
                zur Zeit <span ng-show="!dog.laeufig">nicht </span>läufig
            </p>
        </div>
        <div class="col">
            <p>
                verträgt sich gut mit {{dog.vertraeglich}}
            </p>
        </div>
      </div>

      <div class="item item-divider">
        Beschreibung
      </div>
      <div class="item">
          <p>
            {{dog.beschreibung}}
          </p>
      </div>

    </ion-list>

  </ion-content>
</ion-view>
