<ion-view view-title="Ort Detail" class="location-view">

  <ion-nav-buttons side="right">
      <ion-button ui-sref="^.ort-edit" class="button button-icon icon ion-ios-compose-outline" ng-click="edit(location);"></ion-button>
  </ion-nav-buttons>    
    
  <ion-content>
 <!--   MUSS NOCH EINGEFÜGT WERDEN ZERSTÖRT TEMPLATE FUNKTIONALITÄT

        <div class="location-header">

            <div class="row location-quick-info">
                <div class="col">
                    <h2>{{location.title}}</h2>
                    <span>{{location.typ}}</span>
                </div>
            </div>
            <div class="gradient">
            </div> 
            <img class="location-image" ng-src="data:image/jpeg;base64,{{location.image}}">

        </div>
-->
    <ion-list class="list" ng-class="getCssClass(location.typ);">
    
      <img class="location-image" ng-src="data:image/jpeg;base64,{{location.image}}">
      <ion-item class="item">
        <h2>{{location.title}}</h2>
        <p>{{location.typ}}</p>
      </ion-item>

      <div class="item item-divider">
        Beschreibung
      </div>
      <div class="row item padding">
        <div class="col">
            <p>{{location.description}}</p>
        </div>
      </div>
      
      <div class="item item-divider">
        Stelle
      </div>
      <div class="row item padding">
        <div class="col">
            <p><b>Latitude:</b>{{location.latitude}}</p>
            <p><b>Longitude:</b>{{location.longitude}}</p>
        </div>  
      </div>
     
    </ion-list>

  </ion-content>
</ion-view>
