<ion-view view-title="Profil bearbeiten">

  <ion-nav-buttons side="right">
    <ion-button ui-sref="tab.profil.ich" class="button button-icon icon ion-ios-checkmark-outline" ng-click="save(user)"></ion-button>
  </ion-nav-buttons>

  <ion-content>
    <form novalidate>

      <ion-list class="list">

        <label class="item item-input" ng-click="changePhoto()">
          <span class="input-label">Profilbild</span>
          <img ng-src="data:image/jpeg;base64,{{editScope.image}}">
        </label>

        <!-- Vorname, Name //-->
        <label class="item item-input">
          <span class="input-label">Vorname</span>
          <input type="text" name="vorname" ng-model="editScope.vorname" placeholder="Vorname" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Nachname</span>
          <input type="text" name="nachname" ng-model="editScope.nachname" placeholder="Nachname" required>
        </label>

        <label class="item item-input">
          <span class="input-label">Email</span>
          {{editScope.email}}
        </label>

        <!-- Geschlecht //-->
        <label class="item item-input item-select">
          <div class="input-label">
            Geschlecht
          </div>
          <select name="geschlecht" ng-model="editScope.geschlecht">
            <option value="" disabled>Geschlecht wählen</option>
            <option>männlich</option>
            <option>weiblich</option>
          </select>
        </label>

        <!-- Alter //-->
        <label class="item item-input">
          <span class="input-label">Geburtsdatum</span>
          <input type="date" ng-click="datePicker()" placeholder="Geburtstag wählen">{{editScope.geburtsdatum | date : 'dd.MM.yyyy'}}</input>
        </label>

        <!-- Ort und Telefon //-->
        <label class="item item-input">
          <span class="input-label">Wohnort</span>
          <input type="text" name="ort" ng-model="editScope.ort" placeholder="Wohnort">
        </label>
        <label class="item item-input">
          <span class="input-label">Telefon Nr.</span>
          <input type="tel" name="telefon" ng-model="editScope.telefon" placeholder="Telefon Nr.">
        </label>

        <!-- Beschreibung //-->
        <label class="item item-input item-stacked-label">
          <span class="input-label">Über Mich</span>
          <textarea name="description" ng-model="editScope.description" rows="{{editScope.description.length/60 + 2}}" cols="60" placeholder="Beschreibe dich kurz in zwei Sätzen!">
          </textarea>
        </label>

        <!-- Gassi Zeiten //-->
        <div class="item item-divider">
          Gassi Zeiten
        </div>
        <label class="item item-input">
          <span class="input-label">Mo - Fr</span>
          <input type="time" name="gassizeiten" ng-model="editScope.gassizeiten" placeholder="Uhrzeit">
        </label>
        <button class="button button-full button-positive">
          Neue Gassi-Zeit hinzufügen
        </button>


      </ion-list>
        
    </form>
  </ion-content>
</ion-view>
