<ion-view view-title="Profil" class="user-view">

  <ion-nav-buttons side="right">
    <ion-button ng-show="state.includes('tab.profil')" ui-sref="^.einstellungen" class="button button-icon icon ion-ios-gear-outline"></ion-button>
    <ion-button ng-show="state.includes('tab.profil')" ui-sref="^.profil-edit" class="button button-icon icon ion-ios-compose-outline" ng-click="edit(user)"></ion-button>
  </ion-nav-buttons>

  <ion-content>
    <div class="profile-header">

      <div class="profile-info">
        <img class="profile-image" ng-src="data:image/jpeg;base64,{{user.image}}">
        <h2>{{user.vorname}} {{user.nachname}}</h2> 
        <p>{{user.description}}</p>

        <div class="row quick-info">
            <div class="col"><i class="icon-heart"></i><span>&nbsp;47</span></div>  
            <div class="col"><i class="icon-activity"></i><span>&nbsp;78</span></div> 
            <div class="col"><i class="icon-group"></i><span>&nbsp;24</span></div> 
            <div class="col"><i class="icon-star"></i><span>&nbsp;21</span></div> 
        </div>
          
      </div>

      <div class="profile-bg">
        <img class="blur full" ng-src="data:image/jpeg;base64,{{user.image}}">
      </div>
        
    </div>
      
    <ion-list class="list">
        
       <!--<ion-item class="item item-thumbnail-left">
        <img ng-src="data:image/jpeg;base64,{{user.image}}">
        <h2>{{user.vorname}} {{user.nachname}}</h2>
        <p>
          <span ng-if="user.ort">
            in <b>{{user.ort}}</b>
          </span> 
          <span ng-if="user.dogs">
            mit <b ng-repeat="dog in user.dogs"><span ng-if="!$first">, </span>{{dog.name}}</b>
          </span>
        </p>
      </ion-item>-->

      <div class="item item-divider">
        Nutzerdaten
      </div>
        <div class="row item padding">
            <div class="col">
                <p>
                    {{user.vorname}} {{user.nachname}}
                    <br> 
                    {{user.geschlecht}}
                    <br>
                    <br> 
                    {{user.geburtsdatum | date : 'dd.MM.yyyy'}}
                </p>

            </div>
            <div class="col">
                <p>
                    <a href="mailto:{{user.email}}">
                        {{user.email}}
                    </a>
                    <br>
                    <a href="tel:{{user.telefon}}">
                        {{user.telefon}}
                    </a>
                    <br>
                    <br>
                    {{user.ort}}
                </p>
            </div>
        </div>
        
<!--         <div class="item item-divider">
            Social Media
        </div>
        
        <div class="row item sm-row">
            <div class="col">
                <a class="sm facebook" href="#"><i class="icon-facebook"></i></a>
            </div>
            <div class="col">
                <a class="sm twitter" href="#"><i class="icon-twitter"></i></a>
            </div>
            <div class="col">
                <a class="sm googleplus" href="#"><i class="icon-googleplus"></i></a>
            </div>
            <div class="col">
                <a class="sm tumblr" href="#"><i class="icon-tumblr"></i></a>
            </div>
        </div> -->

        
        <div ng-show="user.description">
          <div class="item item-divider">
                  Über mich
          </div>
          <div class="item">
              <p>
                  {{user.description}}
              </p>
          </div>
        </div>

      <div ng-show="user.gassizeiten">
        <div class="item item-divider">
          Gassi-Zeiten
        </div>
        <div class="item item-input">
          <span class="input-label">Mo - Fr</span>
          {{user.gassizeiten}}
        </div>
      </div>

      <div class="item item-divider">
        {{user.vorname}}s Rudel
      </div>
      <ion-list>
        <ion-item type="item-text-wrap" ng-hide="(userDogs | filter: {ownerId: user.$id}).length > 0">
          <h2> Noch kein Hund hinzugefügt </h2>
        </ion-item>
        <ion-item class="item-avatar item-icon-right" ng-repeat="(key, value) in userDogs | filter: {ownerId: user.$id}" type="item-text-wrap" ui-sref="^.profil-dog({dogId:value.$id})" ng-show="state.includes('tab.profil') || state.includes('tab.profil-dog')">

          <img ng-src="data:image/jpeg;base64,{{value.image}}">
          <h2>{{value.name}}</h2>
          <p>
            <b>{{value.rasse}}</b>, {{value.geschlecht}}
          </p>
          <i class="icon ion-ios-arrow-right"></i>
          
        </ion-item>
        <ion-item class="item-avatar item-icon-right" ng-repeat="(key, value) in userDogs | filter: {ownerId: user.$id}" type="item-text-wrap" ui-sref="^.mitglieder-profil-dog({dogId:value.$id})" ng-show="state.includes('tab.mitglieder-profil') || state.includes('tab.mitglieder-profil-dog') || state.includes('tab.mitglieder-liste')">

          <img ng-src="data:image/jpeg;base64,{{value.image}}">
          <h2>{{value.name}}</h2>
          <p>
            <b>{{value.rasse}}</b>, {{value.geschlecht}}
          </p>
          <i class="icon ion-ios-arrow-right"></i>
          
        </ion-item>
      </ion-list>

      <button class="button button-full button-positive" ui-sref="^.profil-dog-add">
        Hund hinzufügen
      </button>

      <!-- <ion-item ng-hide="isProfil"class="item item-icon-left" href="javascript:alert('Nachricht wird gesendet');">
        <i class="icon ion-ios-email"></i>
        Nachricht schreiben
      </ion-item> -->

    </ion-list>

  </ion-content>
</ion-view>
