<ion-view view-title="Profil">

  <ion-nav-buttons side="right">
    <ion-button ng-show="isProfil" ui-sref="tab.profil.ich-edit" class="button button-icon icon ion-ios-compose-outline" ng-click="edit(user)"></ion-button>
  </ion-nav-buttons>

  <ion-content>

    <ion-list class="list">

      <ion-item class="item item-thumbnail-left">
        <img ng-src="data:image/jpeg;base64,{{user.image}}">
        <h2>{{user.vorname}} {{user.nachname}}</h2>
        <p>
          <span ng-if="user.ort">
            in <b>{{user.ort}}</b>
          </span> 
          <span ng-if="user.dogs">
            mit <b ng-repeat="dog in user.dogs"><span ng-if="!$first">, </span>{{dog.name}}</b>
          </span>
        </p>
      </ion-item>

      <div class="item item-divider">
        Nutzerdaten
      </div>
      <div class="row item padding">
        <div class="col">
          {{user.geschlecht}}<br>
          {{user.geburtsdatum | date : 'dd.MM.yyyy'}}
        </div>
        <div class="col">
          {{user.email}}<br>
          {{user.telefon}}
        </div>
      </div>

      <div class="item item-divider">
        Über mich
      </div>
      <div class="item">
        {{user.description}}
      </div>

      <div class="item item-divider">
        Gassi Zeiten
      </div>
      <div class="item item-input">
        <span class="input-label">Mo - Fr</span>
        {{user.gassizeiten}}
      </div>

      <ion-item ng-hide="isProfil" class="item item-divider">
        Kontakt
      </ion-item>
      <ion-item ng-hide="isProfil" class="item item-icon-left" href="javascript:alert('Anfrage gesendet');">
        <i class="icon ion-ios-personadd"></i>
        Freundschaft anfragen
      </ion-item>

      <!-- <ion-item ng-hide="isProfil"class="item item-icon-left" href="javascript:alert('Nachricht wird gesendet');">
        <i class="icon ion-ios-email"></i>
        Nachricht schreiben
      </ion-item> -->

    </ion-list>

  </ion-content>
</ion-view>
