<ion-view view-title="Einstellungen">
  <ion-content>

    <ion-list class="list">
    	<div class="item item-divider">
    	  Einstellungen
    	</div>
    	<label ui-sref="^.rechtliches" class="item item-icon-right">
    	  Rechtliches
    	  <span class="item-note">Mehr</span>
    	  <i class="icon ion-ios-arrow-right"></i>
    	</label>
        <ion-button class="button button-full button-energized" ng-click="logout();">
         Abmelden
        </ion-button>
    </ion-list>

  </ion-content>
</ion-view>






        