<ion-view view-title="Einstellungen">
  <ion-content>

    <ion-list class="list">
        <ion-button class="button button-full button-stable" ng-click="logout();">
         E-Mail ändern
        </ion-button>
        <ion-button class="button button-full button-stable" ng-click="logout();">
         Passwort ändern
        </ion-button>
        <ion-button class="button button-full button-energized" ng-click="logout();">
         Abmelden
        </ion-button>
        <div class="item item-divider">
          Rechtliches
        </div>
        <label ui-sref="^.rechtliches" class="item item-icon-right">
          Impressum
          <span class="item-note">Mehr</span>
          <i class="icon ion-ios-arrow-right"></i>
        </label>
        <label ui-sref="^.rechtliches" class="item item-icon-right">
          AGB
          <span class="item-note">Mehr</span>
          <i class="icon ion-ios-arrow-right"></i>
        </label>
    </ion-list>

  </ion-content>
</ion-view>






        