<ion-view view-title="Login">

  <ion-nav-buttons side="right">
    <button class="button" ui-sref="tab.feed">
      Schließen
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">
    
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
    </div>

    <button class="button button-block button-positive">Login</button>
    
    <button ui-sref="registrieren" class="button button-block button-outline">Registrieren</button>

  </ion-content>
</ion-view>
