<ion-view view-title="Registrieren">

  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content class="padding">
    <form ng-submit="doRegister()">
      <div class="list list-inset">

        <label class="item item-input">
          <input type="text" placeholder="Vorname" ng-model="loginDaten.vorname">
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Nachname" ng-model="loginDaten.nachname">
        </label>

      </div>

      <div class="list list-inset">

        <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="loginDaten.email">
        </label>

        <label class="item item-input">
            <input type="text" placeholder="Passwort" ng-model="loginDaten.passwort">
        </label>

      </div>

      <button type="submit" class="button button-block button-positive">Registrieren</button>

      <button ui-sref="tab.feed.alle" class="button button-block button-outline">Abbrechen</button>

    </form>
  </ion-content>
</ion-view>
