<ion-view view-title="Registrieren">

  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content class="">
    <form name="registerForm" ng-submit="registerForm.$valid && doRegister(user.email,user.password)" novalidate>
      <div class="list">

        <ion-item class="item item-input">
          <span class="input-label">Vorname</span>
          <input type="text" name="vorname" placeholder="Vorname" ng-model="user.vorname" required>
          <span class="error" ng-show="registerForm.vorname.$touched && registerForm.vorname.$invalid">
            <span ng-show="registerForm.vorname.$error.required">Vorname erforderlich</span>
          </span>
        </ion-item>

        <ion-item class="item item-input">
          <span class="input-label">Nachname</span>
          <input type="text" name="nachname" placeholder="Nachname" ng-model="user.nachname" required>
          <span class="error" ng-show="registerForm.nachname.$touched && registerForm.nachname.$invalid">
            <span ng-show="registerForm.nachname.$error.required">Nachname erforderlich</span>
          </span>
        </ion-item>

      </div>

      <div class="list">

        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="email" placeholder="Email" ng-model="user.email" required>
          <span class="error" ng-show="registerForm.email.$touched && registerForm.email.$invalid">
            <span ng-show="registerForm.email.$error.required">Email erforderlich</span>
            <span ng-show="registerForm.email.$error.email">Email ist ungültig</span>
          </span>
        </label>

        <label class="item item-input">
          <span class="input-label">Passwort</span>
          <input type="password" name="password" placeholder="Passwort" ng-model="user.password" required>
          <span class="error" ng-show="registerForm.password.$touched && registerForm.password.$invalid">
            <span ng-show="registerForm.password.$error.required">Password erforderlich</span>
          </span>
        </label>

      </div>

      <button ng-disabled="registerForm.$invalid" type="submit" class="button button-full button-positive">Registrieren</button>

      <button ui-sref="login" class="button button-full button-outline">Abbrechen</button>

    </form>
  </ion-content>
</ion-view>
