<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Standort Tab -->
  <ion-tab title="Standort" icon-off="icon-map" icon-on="icon-map" ui-sref=".standort.karte">
    <ion-nav-view name="tab-standort"></ion-nav-view>
  </ion-tab>

  <!-- Feed Tab -->
  <ion-tab title="Feed" icon-off="icon-feed" icon-on="icon-feed" ui-sref=".feed.alle">
    <ion-nav-view name="tab-feed"></ion-nav-view>
  </ion-tab>

  <!-- Aktivität Tab -->
  <ion-tab title="Aktivität" icon-off="icon-activity" icon-on="icon-activity" ui-sref=".aktivitaet.live">
    <ion-nav-view name="tab-aktivitaet"></ion-nav-view>
  </ion-tab>

  <!-- Mitglieder Tab -->
  <ion-tab title="Mitglieder" icon-off="icon-group" icon-on="icon-group" ui-sref=".mitglieder-liste">
    <ion-nav-view name="tab-mitglieder"></ion-nav-view>
  </ion-tab>

  <!-- Profil Tab -->
  <ion-tab title="Profil" icon-off="icon-user" icon-on="icon-user" ui-sref=".profil">
    <ion-nav-view name="tab-profil"></ion-nav-view>
  </ion-tab>

</ion-tabs>
