<ion-view view-title="Feed">
  <ion-content class="padding">

    <!-- Feed Inhalt //-->
    <div class="list list-inset" id="newFeed" style="display: none">
      <div class="item item-divider">Letzte Aktivität</div>
      <div class="item item-body">
        <div>
          <b>Du</b> bist mit deinem Hund <b>0</b> Minuten und <b>0 km</b> in der Nähe von Mosbach gelaufen.
        </div>
      </div>
    </div>

    <div class="list list-inset">
      <div class="item item-divider">Letzte Aktivität</div>
      <div class="item item-body">
        <div>
          <b>Du</b> bist mit deinem Hund <b>13</b> Minuten und <b>1,5km</b> in der Nähe von Mosbach gelaufen.
        </div>
      </div>
    </div>

    <div class="list list-inset">
      <div class="item item-divider">Letzte Aktivität</div>
      <div class="item item-body">
        <div>
          <b>Du</b> bist mit deinem Hund <b>13</b> Minuten und <b>1,5km</b> in der Nähe von Mosbach gelaufen.
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>