<ion-view view-title="Profil bearbeiten">

  <ion-nav-buttons side="right">
    <ion-button ui-sref="tab.profil.ich" class="button button-icon icon ion-ios-checkmark-outline" ng-click="save()"></ion-button>
  </ion-nav-buttons>

  <ion-content>
    <form novalidate>

      <ion-list class="list">

        <label class="item item-input" ng-click="changePhoto()">
          <span class="input-label">Profilbild</span>
          <img ng-src="data:image/jpeg;base64,{{editUser.image}}">
        </label>

        <!-- Vorname, Name //-->
        <label class="item item-input">
          <span class="input-label">Vorname</span>
          <input type="text" name="vorname" ng-model="editUser.vorname" placeholder="Vorname" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Nachname</span>
          <input type="text" name="nachname" ng-model="editUser.nachname" placeholder="Nachname" required>
        </label>

        <label class="item item-input">
          <span class="input-label">Email</span>
          {{editUser.email}}
        </label>

        <div class="item item-divider">
          Nutzerdaten
        </div>
        <!-- Geschlecht //-->
        <label class="item item-input item-select">
          <div class="input-label">
            Geschlecht
          </div>
          <select name="geschlecht" ng-model="editUser.geschlecht">
            <option selected>männlich</option>
            <option>weiblich</option>
          </select>
        </label>

        <!-- Alter //-->
        <div class="item item-button-right">
          <span>Geburtsdatum</span>
          <span class="item-note">{{editUser.geburtsdatum | date : 'dd.MM.yyyy'}}</span>
          <button class="button button-icon" ng-click="datePicker()"><i class="icon ion-ios-calendar-outline"></i></button>
        </div>
       

        <!-- Ort und Telefon //-->
        <label class="item item-input">
          <span class="input-label">Wohnort</span>
          <input type="text" name="ort" ng-model="editUser.ort" placeholder="Wohnort">
        </label>
        <label class="item item-input">
          <span class="input-label">Telefon Nr.</span>
          <input type="tel" name="telefon" ng-model="editUser.telefon" placeholder="Telefon Nr.">
        </label>

        <!-- Beschreibung //-->
        <div class="item item-divider">
          Über mich
        </div>
        <div class="item item-input">
          <textarea name="description" ng-model="editUser.description" rows="{{editUser.description.length/60 + 2}}" cols="60" placeholder="Über mich">
          </textarea>
        </div>

        <!-- Gassi Zeiten //-->
        <div class="item item-divider">
          Gassi Zeiten
        </div>
        <label class="item item-input">
          <span class="input-label">Mo - Fr</span>
          <input type="text" name="gassizeiten" ng-model="editUser.gassizeiten" placeholder="Gassi Zeiten">
        </label>

      </ion-list>
        
    </form>
  </ion-content>
</ion-view>
