<ion-view view-title="Profil">

  <ion-nav-buttons side="right">
    <ion-button ui-sref="tab.profil.ich-edit" class="button button-icon icon ion-ios-compose-outline"></ion-button>
  </ion-nav-buttons>

  <ion-content>

    <ion-list class="list">

      <ion-item class="item item-thumbnail-left">
        <img ng-src="{{user.image}}">
        <h2>{{user.vorname}} {{user.nachname}}</h2>
        <p>{{user.email}}</p>
      </ion-item>

      <div class="item item-divider">
        Nutzerdaten
      </div>
      <div class="row item padding">
        <div class="col">
          {{user.geschlecht}}<br>
          {{user.geburtsdatum}}
        </div>
        <div class="col">
          {{user.ort}}<br>
          {{user.telefon}}
        </div>
      </div>

      <div class="item item-divider">
        Über mich
      </div>
      <div class="item">
        {{user.description}}
      </div>

      <div class="item item-divider">
        Gassi Zeiten
      </div>
      <div class="item item-input">
        <span class="input-label">Mo - Fr</span>
        {{user.gassizeiten}}
      </div>

    </ion-list>

  </ion-content>
</ion-view>
