<ion-view view-title="Standort" class="standort-liste">
    <ion-nav-buttons side="right">
        <ion-button class="button button-icon icon ion-ios-plus-outline" ui-sref="^.ort-add" ng-click="edit();"></ion-button>
    </ion-nav-buttons>

<ion-content>
    
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Suche">
        </label>
    </div>

    
    <ion-item>
        <p class="mini-title">XX Ergebnisse</p>
    </ion-item>
    
    
        <ion-list>
            <ion-item class="item-avatar item-icon-right" ng-class="getCssClass(location.typ);" ng-repeat="location in allLocations" type="item-text-wrap" ui-sref="^.ort-detail" ng-click="locationDetail(location.$id)">
                <img class="list location-image" ng-src="data:image/jpeg;base64,{{location.image}}">
                <h2>{{location.title}}</h2>
                <p>{{location.typ}}</p>
                <p>
                    <b>{{location.latitue}}</b>
                    <b>{{location.longitute}}</b>
                </p>              
<!--                <a ng-click="$event.stopPropagation()" href="javascript:alert('Anfrage gesendet');" class="icon ion-ios-personadd-outline"></a>-->
            </ion-item>
        </ion-list>

        <ion-footer-bar class="tabs filter">
	       <div class="tab-item active" onclick="toggleLocationFilter(this)">
		      <span>Orte</span>
	       </div>
	       <div class="tab-item active" onclick="toggleUserFilter(this)">
		      <span>Mitglieder</span>
	       </div>
	       <div class="tab-item active" onclick="togglePoisonFilter(this)">
		      <span>Giftköder</span>
	       </div>
	   </ion-footer-bar>

  </ion-content>
</ion-view>