<ion-view view-title="Standort" class="standort-liste">
    <ion-nav-buttons side="right">
        <ion-button class="button button-icon icon ion-ios-plus-outline" ui-sref="^.ort-add" ng-click="edit();"></ion-button>
    </ion-nav-buttons>

<ion-content>
    
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="searchText" placeholder="Suche">
        </label>
    </div>

    
    <ion-item>
        <p class="mini-title">{{(allLocations | filter: searchText).length}} Ergebnisse</p>
    </ion-item>
    
    
        <ion-list>
            <ion-item class="item-avatar item-icon-right" ng-class="getCssClass(location.typ);" ng-repeat="location in allLocations | filter: searchText" type="item-text-wrap" ui-sref="^.ort-detail" ng-click="locationDetail(location.$id)">
                <img class="list location-image" ng-src="data:image/jpeg;base64,{{location.image}}">
                <h2>{{location.title}}</h2>
                <p>{{location.typ}}</p>
                <p>
                    <b>{{location.latitue}}</b>
                    <b>{{location.longitute}}</b>
                </p>              
                <i class="icon" ng-class="'icon-' + getCssClass(location.typ);"></i>
            </ion-item>
        </ion-list>
    
</ion-content>

    <div class="bar bar-footer has-tabs filter">
        <div class="tab-item active" onclick="toggleLocationFilter(this)">
            <span>Orte</span>
       </div>
       <div class="tab-item">
        Marker Wahl
       </div>
<!--        <div class="tab-item active" onclick="toggleUserFilter(this)">
            <span>Mitglieder</span>
       </div> -->
       <div class="tab-item active" onclick="togglePoisonFilter(this)">
            <span>Giftköder</span>
       </div>
    </div>

</ion-view>