<ion-view view-title="Aktivität">
  <ion-content>  

		<label class="item item-input">
          <span class="input-label">absolvierte Aktivitäten</span>
          23
        </label>

		<label class="item item-input">
          <span class="input-label">gegangene Kilometer</span>
          165 km
        </label>

		<label class="item item-input">
          <span class="input-label">benötigte Zeit</span>
          27,5 h
        </label>

		<label class="item item-input">
          <span class="input-label">durchschnittliche Zeit<br>pro Aktivität</span>
          78 min
        </label>


  </ion-content>
</ion-view>