<ion-view view-title="Aktivität" class="activity">
	<ion-content>
        
        <div class="activity-box">
		  <div class="row time">
            <div class="col">
                <timer autostart="false" interval="1000">
                    <span class="hours">{{hhours}}</span>
                    <span class="minutes">:{{mminutes}}</span>
                    <span class="seconds">:{{sseconds}}</span></timer>
            </div>
		  </div>
		<div class="row activity-info">
			<div class="col">
				<i class="icon-goal"></i>
                <span class="distance">
                    {{routeLength}} km
                </span>
			</div>
            <div class="col">
                <i class="icon-time"></i>
                <span class="time-distance">
                    5 min/km    
                </span>
            </div>
		</div>
      </div>

        <div id="activityMap" data-tap-disabled="true"></div>


		<ion-footer-bar class="button-bar">
			<a class="button button-balanced" ng-show="!timerRunning" ng-click="startTimer()">Start</a>
			<div ng-show="timerRunning" class="button-bar">
				<a class="button button-stable"  ng-click="resumepauseTimer()"><span ng-show="!activityRecordingPause">Pause</span><span ng-show="activityRecordingPause">Weiter</span></a>
				<a class="button button-stable" ng-show="timerRunning" ng-click="endTimer()">Beenden</a>
				<a class="button button-stable" ng-show="timerRunning" ng-click="abortTimer()">Abbrechen</a>
			</div>
		</ion-footer-bar>
	</ion-content>
</ion-view>