<ion-view view-title="Mitglieder">
  <ion-content>

    <!-- Dummy Liste Freunde //-->
    <ion-list>
      <ion-item class="item-avatar item-icon-right" type="item-text-wrap">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c1.63.787.787/s320x320/10599149_750965168282660_7017218834142046411_n.jpg?oh=6b37d8ea5c15b9ca8221dde79bdfe6b0&oe=55C8C554&__gda__=1439841744_773d0b7c32083616e34f7f9bcf3471fc">
        <h2>Tobias Kirchner</h2>
        <p>Entfernung</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list> 

  </ion-content>
</ion-view>