<!--
  This template loads for the 'tab.mitglieder.alle-detail' state (app.js)
  'mitglied' is a $scope variable created in the MitgliederCtrl controller (controllers.js)
  The MitgliederCtrl pulls data from the Mitglieder service (service.js)
  The Mitglieder service returns an array of mitglied data
-->
<ion-view view-title="{{mitglied.vorname}} {{mitglied.nachname}}">
  <ion-content>

	<ion-item class="item item-thumbnail-left">
	    <img ng-src="{{mitglied.image}}">
	    <h2>{{mitglied.vorname}} {{mitglied.nachname}}</h2>
	    <p>in <b>{{mitglied.ort}}</b></p>
	</ion-item>

    <ion-list class="list">
    	<div class="item item-divider">
        	Nutzerdaten
		</div>
		<div class="row item padding">
			<div class="col">
				{{mitglied.geschlecht}}<br>
				{{mitglied.geburtsdatum}}
			</div>
			<div class="col">
				{{mitglied.ort}}<br>
				{{mitglied.telefon}}
			</div>
		</div>

		<div class="item item-divider">
			Über mich
		</div>
		<div class="item">
			{{mitglied.description}}
		</div>

		<div class="item item-divider">
			Gassi Zeiten
		</div>
		<div class="item item-input">
			<span class="input-label">Mo - Fr</span>
			{{mitglied.gassizeiten}}
		</div>

		<div class="item item-divider">
			Kontakt
		</div>
		<ion-item class="item item-icon-left" href="#">
			<i class="icon ion-ios-personadd"></i>
			Freundschaft anfragen
		</ion-item>

		<ion-item class="item item-icon-left" href="#">
			<i class="icon ion-ios-email"></i>
			Nachricht schreiben
		</ion-item>

	</ion-list>

  </ion-content>
</ion-view>
