<ion-view view-title="Mitglieder">
  <ion-content>

    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="searchText" placeholder="Suche">
        </label>
    </div>
        
    <ion-item>
        <p class="mini-title">{{(allUsers | filter: searchText).length}} Mitglieder</p>
    </ion-item>
      
    <ion-list>
      <ion-item class="item-avatar item-icon-right" ng-repeat="user in allUsers | filter: searchText" type="item-text-wrap" ui-sref="^.mitglieder-profil({userId:user.$id})">
        <img ng-src="data:image/jpeg;base64,{{user.image}}">
        <h2>
            {{user.vorname}} {{user.nachname}}
        </h2>
        <p>
          <span ng-if="user.ort">in</span>
          <b>{{user.ort}}</b>
        </p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>