<ion-view view-title="Mitglieder">
  <ion-content>

    <!-- Dummy Liste Alle //-->
    <ion-list>
      <ion-item class="item-avatar item-icon-right" ng-repeat="mitglied in mitglieder" type="item-text-wrap" ui-sref="tab.mitglieder.alle-detail({mitgliedId: mitglied.id})">
        <img ng-src="{{mitglied.face}}">
        <h2>{{mitglied.name}}</h2>
        <p><b>{{mitglied.distance}}</b> Entfernung</p>
        <i class="icon ion-ios-personadd-outline"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>