<!--
  This template loads for the 'tab.mitglieder.alle-detail' state (app.js)
  'mitglied' is a $scope variable created in the MitgliederCtrl controller (controllers.js)
  The MitgliederCtrl pulls data from the Mitglieder service (service.js)
  The Mitglieder service returns an array of mitglied data
-->
<ion-view view-title="{{mitglied.name}}">
  <ion-content>

	<ion-item class="item item-thumbnail-left">
	    <img ng-src="{{mitglied.face}}">
	    <h2>{{mitglied.name}}</h2>
	    <p>in <b>{{mitglied.distance}}</b> Entfernung</p>
	</ion-item>

    <ion-list class="list">

		<ion-item class="item item-icon-left" href="#">
			<i class="icon ion-ios-personadd"></i>
			Freundschaft anfragen
		</ion-item>

		<ion-item class="item item-icon-left" href="#">
			<i class="icon ion-ios-email"></i>
			Nachricht schreiben
		</ion-item>

	</ion-list>

  </ion-content>
</ion-view>
