<!--
  This template loads for the 'tab.mitglieder.alle-detail' state (app.js)
  'mitglied' is a $scope variable created in the MitgliederCtrl controller (controllers.js)
  The MitgliederCtrl pulls data from the Mitglieder service (service.js)
  The Mitglieder service returns an array of mitglied data
-->
<ion-view view-title="{{mitglied.name}}">
  <ion-content class="padding">

    <img ng-src="{{mitglied.face}}" style="width: 64px; height: 64px">
    <h2>{{mitglied.name}}</h2>
    <p><b>{{mitglied.distance}}</b> Entfernung</p>

  </ion-content>
</ion-view>
